<div class="main" style="height: 100vh">
  <div class="page-title d-flex align-items-center">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      style="color: rgb(44, 44, 44)"
      >space_dashboard</mat-icon
    >

    <span>Admin / Settings</span>
  </div>
  <br />
  <div class="title">
    <h2 style="margin: 0">Settings</h2>
  </div>

  <div class="container-fluid px-0 mt-3">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false"
        >
          Manage Profile
        </button>
        <button
          class="nav-link"
          id="nav-add-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-add"
          type="button"
          role="tab"
          aria-controls="nav-add"
          aria-selected="false"
        >
          Add Users
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active  bg-white" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile">
            <div class="container-fluid px-0 mt-4">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 my-2">
                        <div class="mat-shadow mat-card" >
                            <div class="header">
                                <h4>Manage Profile</h4>
                            </div>
        
                            <form action="">
        
        
        
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="email" name="email"  [(ngModel)]="email" aria-describedby="helpId" placeholder="Enter Email" >
                                </div>
        
                                
        
                                <div class="form-group">
                                    <label for="">New Password</label>
                                    <input type="password"  name="password" aria-describedby="helpId" placeholder="Enter Password">
                                </div>
        
                                <div class="form-group">
                                    <label for="">Confirm Password</label>
                                    <input type="password" name="password_confirmation" [(ngModel)]="c_password" aria-describedby="helpId" placeholder="Enter Confirm Password">
                                </div>
        
                                <div class="form-group">
                                    <button type="submit" mat-raised-button class="mat-button btn-primary" (click)="updatePasswords()">Update</button>
                                </div>
                            </form>
        
        
        
        
        
        
                        </div>
        
                    </div>
                </div>
        
        
        
        
            </div>


           


        </div>
        <div class="tab-pane fade show p-3" id="nav-add" role="tabpanel" aria-labelledby="nav-add">
          <div class="mat-shadow mat-card" >
            <div class="header">
                <h4>Manage Profile</h4>
            </div>

            <form action="">



                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email"  [(ngModel)]="new_email" aria-describedby="helpId" placeholder="Enter Email" >
                </div>

                

                <div class="form-group">
                    <label for="">New Password</label>
                    <input type="password"  name="password" [(ngModel)]="new_password" aria-describedby="helpId" placeholder="Enter Password">
                </div>

                <div class="form-group">
                    <label for="">Confirm Password</label>
                    <input type="password" name="password_confirmation" [(ngModel)]="c_new_password" aria-describedby="helpId" placeholder="Enter Confirm Password">
                </div>

                <div class="form-group">
                    <button type="submit" mat-raised-button class="mat-button btn-primary" (click)="addAccount()">Update</button>
                </div>
            </form>






        </div>





        </div>

    </div>
  </div>
</div>
