
<!--<mat-toolbar class="navbar">
  <a class="side-nav-button"><mat-icon (click) = "inputSideNav.toggle()" style="color: black" aria-hidden="false" aria-label="Example home icon">menu</mat-icon></a>
  <div class="dropdown">
    
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="25" height="25" class="rounded-circle me-2">
      <span style="font-weight: 500;">Username</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</mat-toolbar>
-->
<div class="nav-cont p-2">
  <nav class="navbar rounded" style="background-color: #646774; ">
    <div class="container-fluid">
      <div class="left" style="display: flex; align-items: center; gap: 20px;">
        <a class="side-nav-button"><mat-icon (click) = "inputSideNav.toggle()" style="color: gray" aria-hidden="false" aria-label="Example home icon">menu</mat-icon></a>
        <div class="logo" style="display: flex; align-items: center; gap: 10px;">
          <img src="./assets/logobsu2.png" height="100%" width="60px" alt="" style="border-radius:100% ;">
          <span class="school text-white">BATANGAS STATE UNIVERSITY</span>
  
        </div>

    </div>
   
      <div class="dropdown">
    
        <a href="#" class="username d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="25" height="25" class="rounded-circle me-2">
          <span class="text-white" style="font-weight: 500; text-transform: capitalize;">{{username}}</span>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
       
          <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
        </ul>
      
    </div>
    </div>
  </nav>

</div>
