<div class="main" style="height: 100vh">
  <div class="page-title d-flex align-items-center">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      style="color: rgb(44, 44, 44)"
      >space_dashboard</mat-icon
    >

    <span>Admin / Dashboard</span>
  </div>
  <br />

  <div class="title">
    <p class="text-muted" style="margin: 0">Welcome back, Admin</p>
    <h1>Dashboard</h1>
  </div>

  <div class="container-fluid px-0 mt-5">
    <div class="row">
      <div class="col-6">
        <div class="card shadow">
          <div class="card-body">
            <div class="row h-100">
              <div class="col-sm-3 h-100">
                <mat-icon
                  class="menu-icons"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  >supervised_user_circle</mat-icon
                >
              </div>
              <div class="col-md-7">
                <div class="text-wrapper">
                  <p>Total Number of</p>
                  <h2>Faculty</h2>
                </div>
              </div>
              <div class="col">
                <div class="stats">
                  <h3>{{ facultyTotal }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card shadow">
          <div class="card-body">
            <div class="row h-100">
              <div class="col-sm-3 h-100">
                <mat-icon
                  class="menu-icons"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  >supervised_user_circle</mat-icon
                >
              </div>
              <div class="col-md-7">
                <div class="text-wrapper">
                  <p>Total Number of</p>
                  <h2>Job Personnels</h2>
                </div>
              </div>
              <div class="col">
                <div class="stats">
                  <h3>{{ jobPersonnelTotal }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-6">
        <div class="card shadow">
          <div class="card-body">
            <div class="row h-100">
              <div class="col-sm-3 h-100">
                <mat-icon
                  class="menu-icons"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  >supervised_user_circle</mat-icon
                >
              </div>
              <div class="col-md-7">
                <div class="text-wrapper">
                  <p>Total Number of</p>
                  <h2>Employees</h2>
                </div>
              </div>
              <div class="col">
                <div class="stats">
                  <h3>{{ getTotal() }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
